<!doctype html>
<html>
<head>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  

  <title>eHealth applicaiton for PD hospital</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    
  <style>
    body    { padding-top:80px; word-wrap:break-word; }
  </style>
</head>


<body>
<div class="container">

  <div class="page-header text-center">
    <h1>Welcome Doc</h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
  </div>
<div class="row"> 
 <!-- for Data 1 -->
<p> Patient 1, Data1</p>
<div id="data1XY" style="width:600px;height:250px;"></div>
<div id="data1Xt" style="width:600px;height:250px;"></div>
<div id="data1Yt" style="width:600px;height:250px;"></div>
<!-- for Data 3 -->
<p> Patient 1, Data3</p>
<div id="data3XY" style="width:600px;height:250px;"></div>
<div id="data3Xt" style="width:600px;height:250px;"></div>
<div id="data3Yt" style="width:600px;height:250px;"></div>
<!-- for Data 5 -->
<p> Patient 1, Data5</p>
<div id="data5XY" style="width:600px;height:250px;"></div>
<div id="data5Xt" style="width:600px;height:250px;"></div>
<div id="data5Yt" style="width:600px;height:250px;"></div>

<script type="text/javascript">
  // for Data 1
  Plotly.d3.csv('data1.csv', function(rows){
    var traceXY = {
      type: 'scatter',                    // set the chart type
      mode: 'markers',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['X'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['Y'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutXY = {
      yaxis: {title: "Y"},       // set the y axis title
      xaxis: {title: "X"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 20
      }
    };

    var traceXt = {
      type: 'scatter',                    // set the chart type
      mode: 'lines',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['time'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['X'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutXt = {
      yaxis: {title: "X"},       // set the y axis title
      xaxis: {title: "time"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 20
      }
    };

     var traceYt = {
      type: 'scatter',                    // set the chart type
      mode: 'lines',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['time'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['Y'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutYt = {
      yaxis: {title: "Y"},       // set the y axis title
      xaxis: {title: "time"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 20
      }
    };
    Plotly.plot(document.getElementById('data1XY'), [traceXY], layoutXY, {showLink: false});
    Plotly.plot(document.getElementById('data1Xt'), [traceXt], layoutXt, {showLink: false});
    Plotly.plot(document.getElementById('data1Yt'), [traceYt], layoutYt, {showLink: false});
});
   

   // for Data 2

   Plotly.d3.csv('data3.csv', function(rows){
    var traceXY = {
      type: 'scatter',                    // set the chart type
      mode: 'markers',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['X'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['Y'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutXY = {
      yaxis: {title: "Y"},       // set the y axis title
      xaxis: {title: "X"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 20
      }
    };

    var traceXt = {
      type: 'scatter',                    // set the chart type
      mode: 'lines',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['time'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['X'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutXt = {
      yaxis: {title: "X"},       // set the y axis title
      xaxis: {title: "time"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 20
      }
    };

     var traceYt = {
      type: 'scatter',                    // set the chart type
      mode: 'lines',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['time'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['Y'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutYt = {
      yaxis: {title: "Y"},       // set the y axis title
      xaxis: {title: "time"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 20
      }
    };
    Plotly.plot(document.getElementById('data3XY'), [traceXY], layoutXY, {showLink: false});
    Plotly.plot(document.getElementById('data3Xt'), [traceXt], layoutXt, {showLink: false});
    Plotly.plot(document.getElementById('data3Yt'), [traceYt], layoutYt, {showLink: false});
});

// for Data 3

Plotly.d3.csv('data5.csv', function(rows){
    var traceXY = {
      type: 'scatter',                    // set the chart type
      mode: 'markers',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['X'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['Y'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutXY = {
      yaxis: {title: "Y"},       // set the y axis title
      xaxis: {title: "X"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 20
      }
    };

    var traceXt = {
      type: 'scatter',                    // set the chart type
      mode: 'lines',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['time'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['X'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutXt = {
      yaxis: {title: "X"},       // set the y axis title
      xaxis: {title: "time"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 20
      }
    };

     var traceYt = {
      type: 'scatter',                    // set the chart type
      mode: 'lines',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['time'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['Y'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutYt = {
      yaxis: {title: "Y"},       // set the y axis title
      xaxis: {title: "time"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 20
      }
    };
    Plotly.plot(document.getElementById('data5XY'), [traceXY], layoutXY, {showLink: false});
    Plotly.plot(document.getElementById('data5Xt'), [traceXt], layoutXt, {showLink: false});
    Plotly.plot(document.getElementById('data5Yt'), [traceYt], layoutYt, {showLink: false});
}); 
</script>


    <div class="text-center">
      <p>Assignment for 4ME302</p>
      <p>Student: Eswar Chukaluri</p>
    </div>


</div>
</body>
</html>