<!doctype html>
<html>
<head>
	<title>eHealth applicaiton for PD hospital</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1>Welcome Facebooker/Physician</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

	<div class="col-sm-6">
			<div class="well">
			 <table class="table table-striped table-bordered table-responsive">
			     <tr>
			     <td>
			      <i>Name</i>
			      </td>
			      <td>
			      <i>Therapy</i>
			      </td>
			      <td>
			      <i>Test session 1</i>
			      </td>
			      <td>
			       <i>Note</i>
			       </td>
			       <td>
			       <i>Test session 2</i>
			       </td>
			       <td>
				<i>Note</i>
			       </td>
			    </tr>
			</table>	
			</div>
		</div>

	<div class="text-center">
		<p>Assignment for 4ME302</p>
		<p>Student: Eswar Chukaluri</p>
	</div>

</div>
</body>
</html>
